* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
div.container {
  width: 50%;
  text-align: center;
}
div.header {
  background-color: orange;
  padding: 16px 0px;
}
div.header h1 {
  font-size: 3em;
  color: white;
  margin: 10px 0px;
}
div.header input {
  width: 70%;
  font-size: 1.3em;
  border: none;
  outline: none;
  padding: 2px 10px;
}
div.header button {
  width: 20%;
  font-size: 1.3em;
  border: none;
  outline: none;
  padding: 2px 10px;
  margin-left: -4px;
  color: rgb(72, 72, 72);
  cursor: pointer;
  transition: all 0.3s;
}
div.header button:hover {
  background-color: rgb(198, 198, 198);
}
ul {
  list-style-type: none;
  text-align: left;
  font-size: 1.3em;
}
ul li {
  background-color: rgb(227, 227, 227);
  padding: 10px 40px 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}
ul li:hover {
  background-color: rgb(198, 198, 198);
}
ul li.active {
  background-color: rgb(90, 90, 90);
  text-decoration: line-through;
  color: white;
}
ul li.active::before {
  content: "\f00c";
  font-family: "fontawesome";
  position: absolute;
  left: 15px;
}
.trash-bin {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.trash-bin:hover {
  color: red;
  animation: shake 0.2s 3;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
